.row {
    margin-top: 15px;
    color:rgb(208, 208, 203);
}
.star {
    margin-top: 5px;
    color: orange;
    font-size: 10pt;
}
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}